<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css"> <!-- Link to the CSS file -->
    <title>Login User</title>
</head>
<body>
    <div class="container">
        <h1>Login User</h1>
        <form action="/user/login" method="post" class="form">
            <input type="email" id="email" name="email" required placeholder="Enter Email">
            <input type="password" id="password" name="password" required placeholder="Enter Password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>